<h1>Planner#index</h1>

<p>Hello WOrld</p>





<%= 1+ 1%>

<% target = "WWW"%>

<%= target %>


<%= target %>

<% 3.times do %>
aaa: <%= "XYZ" %>


<% end %>

<% @array.each do |n| %>
  <%= n %> <br />
<% end %>